<h1>Добавить новый курс</h1>

<form action="/add" method="POST">

  <div class="input-field col s6">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field col s6">
    <input id="price" name="price" type="number" class="validate" required min="1">
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field col s6">
    <input id="img" name="img" type="text" class="validate" required>
    <label for="img">Адрес картинки для курса</label>
    <span class="helper-text" data-error="Введите адрес картинки"></span>
  </div>

  <div class="input-field col s6">
    <input id="contentType" name="contentType" type="text" class="validate" required>
    <label for="contentType">Тип содержимого (статья, видео, документ)</label>
    <span class="helper-text" data-error="Задайте тип содержимого"></span>
  </div>

  <div class="input-field col s6">
    <input id="shortDescription" name="shortDescription" type="text" class="validate">
    <label for="shortDescription">Краткое описание курса</label>
    <span class="helper-text" data-error="Введите краткое описание курса"></span>
  </div>

  <div class="input-field col s6">
    <input id="fullDescription" name="fullDescription" type="text" class="validate" required>
    <label for="fullDescription">Полное описание курса</label>
    <span class="helper-text" data-error="Введите подробное описание курса"></span>
  </div>

  <div class="input-field col s6">
    <input id="contentLink" name="contentLink" type="text" class="validate">
    <label for="contentLink">Ссылка на видео</label>
    <span class="helper-text" data-error="Введите ссылку на видео"></span>
  </div>

  <button class="btn btn-primary">Добавить курс</button>
</form>


