<div>
<h4>Вы хотите запросить консультацию.</h4>
<h5>В ближайшее время мы свяжемся с Вами и договоримся о времени.</h5>
<form action="/consultation/confirm">
<button type="submit">Подтвердить и записаться</button>
</form>
</div>
