<h5>Пользователи, запросившие консультацию:</h5>

{{#each users}}
<div class="row">
  <div>
    <small>Имя: </small>{{name}}</small>
  </div>
  <div>
    <small>Телефон: </small>{{phoneNumber}}</small>
  </div>
  <div>
    <small>e-mail: </small>{{email}}</small>
  </div>
  <hr>
</div>
{{/each}}
