<h1>Трекер цифровой образовательной среды</h1>
<h3>Будущее уже сегодня</h3>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://sun9-14.userapi.com/TVYejj3VbISGFCbMgpVhhHW-zpzbnFjjkk1u-g/Cw1XFqXaZhU.jpg"> 
        <div class="caption center-align">
          <h3 class="firstSlideInfo">Иновационная платформа</h3>
          <h5 class="light grey-text text-lighten-3">Легкая в освоении</h5>
        </div>
      </li>
      <li>
        <img src="https://sun9-66.userapi.com/Tkqc2wRZiKYEf3xZ-o7ZPlHyHMBDF9-0jJ4lwQ/uB2-IAd3Bww.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="secondSlideInfo">Поможет вам сохранить время </h3>
          {{!-- <h5 class="light grey-text text-lighten-2">Ваш ребенок будет удаленно заниматься с профессионалами</h5> --}}
        </div>
      </li>
      <li>
        <img src="https://sun9-68.userapi.com/6TAZUyPAUDpk5hUudC3rzg0opLfIG-vtF34k2Q/V0LbSubj1OI.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="thirdSlideInfo">Скорее регистрируйся!!</h3>
          {{!-- <h5 class="light grey-text text-lighten-3">ТААА ДАААА</h5> --}}
        </div>
      </li>
    </ul>
  </div>

<h3 id="SHOW">Описание проекта</h3>
  <div class="abouter none" id="IGOR">Проект "Трекеры цифровой образовательной среды" посвящен помощи и повышению компетентности родителей детей младшего школьного возраста в области цифровой образовательной среды путем расширения доступности получения услуги методической и консультативной помощи, а также повышению компетентности учителей начальной школы в области цифровой образовательной среды.<br />
С 1 сентября 2020 г. в России началось внедрение целевой модели цифровой образовательной среды, которая станет дополнением к традиционному обучению. Родители боятся сохранения дистанционного обучения после пандемии, опасаясь, что так останется навсегда, а проблемы обучения будут переложены на родительские плечи. Боязнь обусловлена низким уровнем цифровой грамотности, неумением и нежеланием родителей встраиваться в образовательный процесс.<br />
Интерес к формированию современной цифровой образовательной среды продиктован временем и государственной необходимостью, а значит реализация указанных прав и обязанностей родителей должна обеспечиваться и в случае использования дистанционных и смешанных форматов. Согласно Приказа Министерства просвещения РФ от 2 декабря 2019 г. №649 «Об утверждении Целевой модели цифровой образовательной среды», целью ЦОС является обеспечение предоставления равного доступа участникам отношений в сфере образования, поставщикам и потребителям цифрового образовательного контента, способствующее повышению качества знаний, совершенствованию умений, навыков, компетенций и квалификации, обмену опытом и практиками, управлению собственными данными в электронной форме, построению индивидуального учебного плана.
В рамках проекта создается онлайн-служба по оказанию психолого-педагогической, методической и консультативной помощи семьям, имеющим детей. Основная функция службы – консультирование и обучение родителей, научно-методическое сопровождение и координация деятельности системы оказания помощи, методическое руководство, координация и обеспечение качества оказания услуги на территории Российской Федерации. Также специалисты службы оказывают психолого-педагогическую, методическую и консультативную помощь социальным работникам, воспитателям и педагогам, проводят мероприятия, направленные на повышение лояльности родителей к цифровой трансформации системы образования.<br />
Служба осуществляет деятельность в онлайн-среде и носит распределенный характер, объединяя специалистов из разных регионов страны. Анонсирование, коммуникации и организация мероприятий, расширенная аналитика и получение обратной связи по их результатам обеспечиваются посредством экосистемы сервисов цифровой платформы Leader-ID.
Субъектами консультативной деятельности являются педагоги и специалисты службы, специалисты организаций-партнеров, эксперты, оказывающие услуги безвозмездно в качестве волонтера проекта. Заказчиком (получателем услуг) может быть как родитель (законный представитель) детей – учащихся начальных классов, так и педагоги и специалисты общеобразовательных организаций.</div>
</div> </h3>
