<h1>Трекер цифровой образовательной среды</h1>
<h3>Будущее уже сегодня</h3>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://sun9-14.userapi.com/TVYejj3VbISGFCbMgpVhhHW-zpzbnFjjkk1u-g/Cw1XFqXaZhU.jpg"> 
        <div class="caption center-align">
          <h3 class="firstSlideInfo">Иновационная платформа</h3>
          <h5 class="light grey-text text-lighten-3">Легкая в освоении</h5>
        </div>
      </li>
      <li>
        <img src="https://sun9-66.userapi.com/Tkqc2wRZiKYEf3xZ-o7ZPlHyHMBDF9-0jJ4lwQ/uB2-IAd3Bww.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="secondSlideInfo">Поможет вам сохранить время </h3>
          {{!-- <h5 class="light grey-text text-lighten-2">Ваш ребенок будет удаленно заниматься с профессионалами</h5> --}}
        </div>
      </li>
      <li>
        <img src="https://sun9-68.userapi.com/6TAZUyPAUDpk5hUudC3rzg0opLfIG-vtF34k2Q/V0LbSubj1OI.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="thirdSlideInfo">Скорее регистрируйся!!</h3>
          {{!-- <h5 class="light grey-text text-lighten-3">ТААА ДАААА</h5> --}}
        </div>
      </li>
    </ul>
  </div>

