<h1>Добрый день, {{name}}</h1>
<p>Имя: {{name}}</p>
<p>Mail: {{email}}</p>
<p>Номер телефона: {{phoneNumber}}</p>
<div id="addingForm">
  <h5>Для полного доступа заполните форму:</h5>
  <form id="buttonUserForm" action="/user/edit">
    <button type="submit" class="btn btn-primary">Заполнить форму</button>
  </form>
</div>
